{{#if stances.length}}
<div class="section" data-section="stances">
    <div class="header"> {{i18n "stances"}}</div>
    {{#each stances as |stance|}}
    <div class="action" data-item-id="{{stance.actionID}}" data-effect-uuid="{{stance.effectUUID}}" data-item-name="{{stance.itemName}}">
        <div class="action-icon"><img src="systems/pf2e/icons/actions/OneAction.webp"></div>
        <a class="name" data-action="stance-description">{{stance.name}}</a>
        {{#if @root.isOwner}}
        {{#if stance.effectID}}
        <a data-action="stance-toggle"><i class="fa-solid fa-toggle-on"></i></a>
        {{else}}
        <a data-action="stance-toggle"><i class="fa-solid fa-toggle-off"></i></a>
        {{/if}}
        <a class="chat" data-action="stance-chat"><i class="fa-solid fa-message"></i></a>
        {{/if}}
    </div>
    {{/each}}
</div>
{{/if}}

{{#if strikes.length}}
<div class="section" data-section="strikes">
    <div class="header"> {{localize "PF2E.Actor.Attacks"}}</div>

    {{#each blasts as |blast|}}
    <div class="strike details blast" data-element="{{blast.element}}" data-damage-type={{blast.damageType}}
        data-item-id="{{blast.item.id}}" data-item-type="{{blast.item.type}}">
        <a class="name" data-action="blast-description">{{localize blast.label}}</a>

        {{> blast blast=blast melee=true}}
        {{> blast blast=blast melee=false}}

        {{#unless (eq blast.damageTypes.length 1)}}
        <div class="variants">
            <div class="versatiles">
                {{#each blast.damageTypes as |damageType|}}
                <div class="variant {{#if damageType.selected}}selected{{/if}}" data-action="set-damage-type"
                    data-value="{{damageType.value}}" data-tooltip="{{damageType.label}}">
                    <i class="fa-solid fa-{{damageType.icon}} fa-fw"></i>
                </div>
                {{/each}}
            </div>
        </div>
        {{/unless}}
    </div>
    {{/each}}

    {{#each strikes as |strike|}}
    <div class="strike details {{#unless strike.visible}} hidden{{/unless}}" data-index="{{strike.index}}">
        {{#if @root.isCharacter}}
        <a class="name" data-action="strike-description">{{strike.label}}</a>
        {{else}}
        <div class="name">{{strike.label}}</div>
        {{/if}}

        {{#unless @root.isCharacter}}
        {{#if (or strike.traits.length strike.additionalEffects.length)}}
        <div class="traits">
            {{#each strike.traits as |trait|}}
            <div class="trait info" data-action="trait-description" data-index="{{@index}}">
                {{localize trait.label}}
            </div>
            {{/each}}
            {{#each strike.additionalEffects as |trait|}}
            <div class="trait">
                {{localize trait.label}}
            </div>
            {{/each}}
        </div>
        {{/if}}
        {{/unless}}

        {{#if strike.ready}}
        {{> strike strike=strike}}
        {{#if strike.altUsages.length}}
        {{#each strike.altUsages as |altUsage|}}
        {{> strike strike=altUsage altUsage=altUsage.usage}}
        {{/each}}
        {{/if}}
        {{/if}}

        {{#if @root.isCharacter}}
        <div class="variants">
            {{#if (and strike.ammunition strike.ready)}}
            <div class="variant {{#unless @root.isOwner}}disabled{{/unless}}">
                <select class="ammos" data-action="strike-ammo" {{disabled (not @root.isOwner)}}>
                    {{#select strike.ammunition.selected.id}}
                    <option value="">{{localize "PF2E.NoAmmoLabel"}}</option>
                    {{#each strike.ammunition.compatible as |ammo|}}
                    <option value="{{ammo.id}}">{{ammo.name}} ({{ammo.quantity}})</option>
                    {{/each}}
                    {{/select}}
                </select>
            </div>
            {{#if (gt strike.item.ammo.uses.max 1)}}
            <span class="magazine">
                <i class="fa-brands fa-stack-overflow"></i>{{strike.item.ammo.uses.value}}
            </span>
            {{/if}}
            {{/if}}

            {{#each strike.auxiliaryActions as |action|}}
            <div class="variant {{#unless @root.isOwner}}disabled{{/unless}}" data-action="strike-auxiliary" data-index="{{@index}}">
                <span class="action-glyph">{{action.glyph}}</span>
                {{action.label}}
                {{#if action.options}}
                <select class="modular" {{disabled (not @root.isOwner)}}>
                    {{#each action.options as |option|}}
                    <option value="{{option.value}}" {{#if option.selected}} selected{{/if}}>
                        {{option.label}} {{#if option.selected}}&#x2714;{{/if}}
                    </option>
                    {{/each}}
                </select>
                {{/if}}
            </div>
            {{/each}}

            {{#if (and strike.versatileOptions.length strike.item.dealsDamage strike.ready)}}
            <div class="versatiles">
                {{#each strike.versatileOptions as |option|}}
                <div class="variant {{#if option.selected}}selected{{/if}} {{#unless @root.isOwner}}disabled{{/unless}}"
                    data-action="toggle-versatile" data-value="{{option.value}}"
                    data-tooltip="{{localize (lookup @root.damageTypes [value])}}">
                    <i class="fa-solid fa-{{option.glyph}} fa-fw"></i>
                </div>
                {{/each}}
            </div>
            {{/if}}
        </div>
        {{/if}}

        {{#if (and (not @root.isCharacter) strike.description)}}
        <div class="description">
            {{{strike.description}}}
        </div>
        {{/if}}
    </div>
    {{/each}}
</div>
{{/if}}

{{#if heroActions}}
<div class="section" data-section="hero-actions">
    <div class="header">
        {{i18n 'hero-actions'}}
        {{#if @root.isOwner}}
        <div class="menu">
            {{#if heroActions.draw}}
            <a data-action="draw-hero-action">+{{heroActions.draw}}</a>
            {{else if heroActions.canTrade}}
            <a data-action="trade-hero-action"><i class="fa-solid fa-handshake"></i></a>
            {{/if}}
        </div>
        {{/if}}
    </div>
    {{#each heroActions.actions as |action|}}
    <div class="action" data-uuid="{{action.uuid}}">
        <div class="action-icon"><img src="systems/pf2e/icons/actions/Passive.webp"></div>
        <a class="name" data-action="hero-action-description">{{action.name}}</a>
        {{#if @root.isOwner}}
        {{#if ../heroActions.discard}}
        <a data-action="discard-hero-action"><i class="fa-solid fa-trash"></i></a>
        {{else}}
        <a data-action="use-hero-action"><i class="fa-solid fa-play"></i></a>
        {{/if}}
        <a class="chat" data-action="hero-action-chat"><i class="fa-solid fa-message"></i></a>
        {{/if}}
    </div>
    {{/each}}
</div>
{{/if}}

{{#if sections.length}}
{{#each sections as |section|}}
<div class="section" data-section="{{section.type}}">
    <div class="header">{{localize section.label}}</div>
    {{#each section.actions as |action|}}
    <div class="action" data-item-id="{{action.id}}">
        <div class="action-icon"><img src="{{action.img}}"></div>
        <a class="name" data-action="action-description">{{action.name}}</a>
        {{#if @root.isOwner}}
        {{#if action.hasEffect}}
        <a data-action="use-action">
            <i class="fa-solid fa-play"></i>
        </a>
        {{/if}}
        {{#if action.isExploration}}
        {{#if action.isActive}}
        <a data-action="exploration-toggle"><i class="fa-solid fa-toggle-on"></i></a>
        {{else}}
        <a data-action="exploration-toggle"><i class="fa-solid fa-toggle-off"></i></a>
        {{/if}}
        {{/if}}
        <a class="chat" data-action="action-chat"><i class="fa-solid fa-message"></i></a>
        {{/if}}
    </div>
    {{/each}}
</div>
{{/each}}
{{/if}}

{{#*inline "strike"}}
<div class="variants">
    {{#each strike.variants as |variant|}}
    <div class="variant {{#if (or (eq strike.quantity 0) (not @root.isOwner))}}disabled{{/if}}" data-action="strike-attack"
        data-index="{{@index}}" {{#if ../altUsage}}data-alt-usage="{{../altUsage}}" {{/if}}>
        {{#if (eq @index 0)}}
        {{#if @root.isCharacter}}
        {{localize "PF2E.WeaponStrikeLabel"}}
        {{/if}}
        {{variant.label}}
        {{else}}
        {{@root.variantLabel variant.label}}
        {{/if}}
    </div>
    {{/each}}
    {{#if strike.item.dealsDamage}}
    {{#unless @root.isCharacter}}
</div>
<div class="variants">
    {{/unless}}
    <div class="variant damage {{#unless @root.isOwner}}disabled{{/unless}}" data-action="strike-damage"
        data-tooltip="{{strike.damageFormula}}" data-tooltip-direction="UP" {{#if altUsage}}data-alt-usage="{{altUsage}}" {{/if}}>
        {{#if @root.isCharacter}}
        {{localize "PF2E.DamageLabel"}}
        {{else}}
        {{strike.damageFormula}}
        {{/if}}
    </div>
    <div class="variant {{#unless @root.isOwner}}disabled{{/unless}}" data-action="strike-critical"
        data-tooltip="{{strike.criticalFormula}}" data-tooltip-direction="UP" {{#if altUsage}}data-alt-usage="{{altUsage}}" {{/if}}>
        {{localize "PF2E.CriticalDamageLabel"}}
    </div>
    {{/if}}

    {{#if (ne altUsage undefined)}}
    {{#if strike.item.isThrown}}
    <img class="alt-usage-icon" src="systems/pf2e/icons/mdi/thrown.svg" data-tooltip="{{localize 'PF2E.Item.Weapon.ThrownUsage.Label'}}" />
    {{else}}
    <img class="alt-usage-icon" src="systems/pf2e/icons/mdi/sword.svg" data-tooltip="{{localize 'PF2E.Item.Weapon.MeleeUsage.Label'}}" />
    {{/if}}
    {{/if}}
</div>
{{/inline}}

{{#*inline "blast"}}
<div class="variants">
    <div class="variant" data-action="roll-attack" data-melee="{{melee}}" data-map-increases="0">
        {{localize "PF2E.SpecificRule.Kineticist.Impulse.ElementalBlast.ShortLabel"}}
        {{numberFormat blast.statistic.check.mod sign=true}}
    </div>
    <div class="variant" data-action="roll-attack" data-melee="{{melee}}" data-map-increases="1">
        {{#if melee}}
        {{@root.variantLabel blast.maps.melee.map1}}
        {{else}}
        {{@root.variantLabel blast.maps.ranged.map1}}
        {{/if}}
    </div>
    <div class="variant" data-action="roll-attack" data-melee="{{melee}}" data-map-increases="2">
        {{#if melee}}
        {{@root.variantLabel blast.maps.melee.map2}}
        {{else}}
        {{@root.variantLabel blast.maps.ranged.map2}}
        {{/if}}
    </div>
    <div class="variant damage" data-action="roll-damage" data-melee="{{melee}}" data-outcome="success"
        data-formula="{{#if melee}}{{blast.formula.melee.damage}}{{else}}{{blast.formula.ranged.damage}}{{/if}}"
        data-tooltip="{{#if melee}}{{blast.formula.melee.damage}}{{else}}{{blast.formula.ranged.damage}}{{/if}}">
        {{localize "PF2E.DamageLabel"}}
    </div>
    <div class="variant damage" data-action="roll-damage" data-melee="{{melee}}" data-outcome="critical-success"
        data-formula="{{#if melee}}{{blast.formula.melee.critical}}{{else}}{{blast.formula.ranged.critical}}{{/if}}"
        data-tooltip="{{#if melee}}{{blast.formula.melee.critical}}{{else}}{{blast.formula.ranged.critical}}{{/if}}">
        {{localize "PF2E.CriticalDamageLabel"}}
    </div>
    {{#unless melee}}
    <i class="fa-regular fa-meteor fa-rotate-180 alt-usage-icon" data-tooltip="{{blast.range.label}}"></i>
    {{/unless}}
</div>
{{/inline}}