{{#if initiative}}
<div class="row" data-row="initiative">
    {{> roll action='roll-initiative' label='PF2E.InitiativeLabel'}}
    <select name="system.initiative.statistic" {{disabled (not isOwner)}}>
        {{selectOptions initiative.skills selected=initiative.selected nameAttr="slug" labelAttr="label"}}
    </select>
</div>
<hr>
{{/if}}

{{#if isCharacter}}
<div class="row" data-row="rest-for-the-night">
    {{> roll action='rest-for-the-night' icon='fa-solid fa-bed' label='PF2E.Actor.Character.Rest.Label'}}
</div>
{{#if hasDailies}}
<div class="row" data-row="prepare-dailies">
    {{> roll action='prepare-dailies' icon='fa-solid fa-mug-saucer' label='pf2e-dailies.sheet.title'}}
</div>
{{/if}}
<hr>
{{/if}}

<div class="row" data-row="aid" data-uuid="{{uuids.aid}}">
    {{> roll action='roll-aid' cost='reaction' label='PF2E.Actions.Aid.Title' actions=true}}
</div>

{{#if hasPerception}}
<div class="row" data-row="point-out" data-uuid="{{uuids.point-out}}">
    {{> roll action='roll-point-out' cost=1 label='pf2e-perception.action.point-out' actions=true}}
</div>
{{/if}}

<div class="row" data-row="recall-knowledge" data-uuid="{{uuids.recall-knowledge}}">
    {{> roll action='roll-recall-knowledge' cost=1 label='PF2E.RecallKnowledge.Label' actions=true}}
</div>

<div class="row" data-row="escape" data-uuid="{{uuids.escape}}">
    {{> roll cost=1 label='PF2E.Actions.Escape.Title' actions=true}}
</div>
<div class="variants">
    <div class="variant" data-action="roll-escape">
        {{localize 'PF2E.Roll.Normal'}}
    </div>
    <div class="variant" data-action="roll-escape" data-map="1">
        {{localize 'PF2E.MAPAbbreviationLabel' penalty="-5"}}
    </div>
    <div class="variant" data-action="roll-escape" data-map="2">
        {{localize 'PF2E.MAPAbbreviationLabel' penalty="-10"}}
    </div>
</div>

{{#if isOwner}}
{{#if macros.length}}
<hr>
{{#each macros as |macro|}}
<div class="macro item-box" data-uuid="{{macro.uuid}}">
    <div class="item-img">
        <img src="{{macro.img}}">
    </div>
    <div class="details">
        <div class="name">{{macro.name}}</div>
        <div class="extras">
            <div class="actions">
                <a data-action="use-macro"><i class="fa-duotone fa-play"></i></a>
                <a data-action="edit-macro"><i class="fa-solid fa-pen-to-square"></i></a>
                <a data-action="delete-macro"><i class="fa-solid fa-trash"></i></a>
            </div>
        </div>
    </div>
</div>
{{/each}}
{{else}}
<div class="no-macro">{{noMacro}}</div>
{{/if}}
{{/if}}


{{#*inline 'roll'}}
<{{#if action}}a{{else}}div{{/if}} class="name" {{#if action}}data-action="{{action}}" {{/if}}>
    {{#if cost}}
    {{localize label}}
    {{{actionGlyph cost}}}
    {{else if icon}}
    <i class="{{icon}}"></i>
    {{localize label}}
    {{else}}
    {{localize label}}
    <i class="fa-solid fa-dice-d20"></i>
    {{/if}}
</{{#if action}}a{{else}}div{{/if}}>
{{#if actions}}
<div class="actions">
    <a class="observable" data-action="action-description">
        <i class="fa-regular fa-circle-question"></i>
    </a>
    {{#if @root.isOwner}}
    <a class="chat" data-action="action-chat"><i class="fa-solid fa-message"></i></a>
    {{/if}}
</div>
{{/if}}
{{/inline}}