<div class="follow">
    <div class="action-icon"><img src="systems/pf2e/icons/actions/Passive.webp"></div>
    <a data-action="follow-the-expert">{{follow}}</a>
</div>

{{#each skills as |skill|}}
<div class="skill" data-skill="{{skill.slug}}">
    <div class="header">
        <div>
            <a data-action="roll-skill" data-slug="{{skill.slug}}">
                <span class="modifier">{{skill.modifier}}</span>
                {{skill.name}}
            </a>
        </div>
        {{#if skill.rank includeZero=true}}
        <div class="rank {{skill.rank}}">{{localize (concat 'PF2E.ProficiencyLevel' skill.rank)}}</div>
        {{/if}}
    </div>
    {{#each actions as |action|}}
    <div class="action" data-slug="{{action.slug}}" data-skill-slug="{{skill.slug}}" data-uuid="{{action.uuid}}"
        data-action-name="{{action.name}}">
        <div class="name">
            {{#if action.variants}}
            <span>{{action.name}} {{{actionGlyph action.cost}}}</span>
            {{else}}
            <a data-action="roll-action">
                {{action.name}} {{{actionGlyph action.cost}}}
            </a>
            {{/if}}
            <div class="end">
                {{#if action.trained}}
                <div class="trained">(T)</div>
                {{/if}}
                {{#if action.uuid}}
                <a class="observable" data-action="action-description"><i class="fa-regular fa-circle-question"></i></a>
                {{#if @root.isOwner}}
                <a class="chat" data-action="action-chat"><i class="fa-solid fa-message"></i></a>
                {{/if}}
                {{/if}}
            </div>
        </div>
        {{#if action.variants}}
        <div class="variants">
            {{#each action.variants as |variant|}}
            <div class="variant" data-action="roll-action" data-variant="{{variant.slug}}" data-map="{{variant.map}}" {{#if (ne
                variant.agile undefined)}} data-agile="{{variant.agile}}" {{/if}}>
                {{localize variant.label penalty=variant.mapValue}}
            </div>
            {{/each}}
        </div>
        {{/if}}
    </div>
    {{/each}}
</div>
{{/each}}
{{#if lores.length}}
<div class="lores">
    <div class="header">{{localize 'PF2E.LoreSkillsHeader'}}</div>
    {{#each lores as |lore|}}
    <div class="lore">
        <a data-action="roll-skill" data-slug="{{lore.slug}}">
            <span class="modifier" style="width: {{@root.loresModifierWidth}}ch">{{lore.modifier}}</span>
            {{localize lore.label}}
        </a>
        <div class="rank {{lore.rank}}">{{localize (concat 'PF2E.ProficiencyLevel' lore.rank)}}</div>
    </div>
    {{/each}}
</div>
{{/if}}