<div class="row">
    <div class="variants">
        <div class="variant" data-action="spell-attack">
            {{localize 'PF2E.SpellAttackLabel'}}{{#if attackMod}} {{attackMod}}{{/if}}
        </div>
        <div class="variant" data-action="spell-attack" data-map="-5">
            {{localize 'PF2E.MAPAbbreviationLabel' penalty='-5'}}
        </div>
        <div class="variant" data-action="spell-attack" data-map="-10">
            {{localize 'PF2E.MAPAbbreviationLabel' penalty='-10'}}
        </div>
    </div>
</div>

{{#if spells.length}}
{{#each spells as |entry|}}
{{#if entry includeZero=true}}
<div class="entry" data-entry="{{#if (eq @index 0)}}cantrip{{else if (eq @index 12)}}focus{{else}}{{@index}}{{/if}}">
    <div class="header">
        {{#if (eq @index 0)}}
        {{localize 'PF2E.Actor.Creature.Spellcasting.Cantrips'}}
        {{else if (eq @index 12)}}
        {{localize 'PF2E.Focus.Spells'}}
        {{else}}
        {{@root.entryRank @index}}
        {{/if}}

        {{#if (or (eq @index 12) (and (eq @index 0) @root.hasFocusCantrips))}}
        <div class="pips" data-action="toggle-pips">
            {{#times @root.focusPool.max}}
            <i class="{{#if (gt @root.focusPool.value this)}}fas fa-dot-circle{{else}}far fa-circle{{/if}}"></i>
            {{/times}}
        </div>
        {{/if}}
    </div>

    {{#each entry as |spell|}}
    <div class="spell item item-box{{#if spell.expended}} expended{{/if}}{{#if spell.isVirtual}} virtual{{/if}}"
        data-entry-id="{{spell.entryId}}" data-slot-id="{{spell.slotId}}" data-expended="{{spell.expended}}"
        data-group-id="{{spell.groupId}}" data-item-id="{{spell.itemId}}" data-cast-rank="{{spell.castRank}}">
        <div class="item-img hover" data-action="spell-chat">
            <img src="{{spell.img}}">
            {{#if @root.isOwner}}
            <i class="fa-solid fa-message"></i>
            {{/if}}
        </div>
        <div class="details">
            <a class="name" data-action="spell-description">{{spell.name}}</a>
            <div class="extras">
                <div class="type">
                    {{#if spell.tradition}}{{spell.tradition}}| {{/if}}
                    {{localize spell.type}} {{{actionGlyph spell.action}}}
                </div>
                <div class="actions">
                    {{#if (and (not spell.isCantrip) (or spell.isSpontaneous spell.isInnate spell.isActiveCharge spell.consumable))}}
                    <div class="uses">
                        <input type="number" value="{{spell.uses.value}}" data-input-path="{{spell.inputPath}}"
                            data-entry-id="{{#if spell.isInnate}}{{spell.itemId}}{{else if spell.consumable}}{{spell.consumable.id}}{{else}}{{spell.entryId}}{{/if}}"
                            placeholder="0" min="0" max="{{spell.uses.max}}" {{disabled (or (not @root.isOwner) (and spell.uses.autoDestroy
                            (eq spell.uses.max 1) (lte spell.uses.value 1)))}}>
                        {{#if (and spell.uses.max (not spell.uses.noMax))}}
                        <input type="text" value="/  {{spell.uses.max}}" disabled>
                        {{/if}}
                    </div>
                    {{else if (and (not spell.isCantrip) spell.isCharge)}}
                    <i class="fa-solid fa-link-slash"></i>
                    {{else if (and spell.isPrepared @root.isOwner)}}
                    <a data-action="toggle-prepared">
                        <i class="fas fa-fw {{#if spell.expended}}fa-plus-square{{else}}fa-minus-square{{/if}}"></i>
                    </a>
                    {{/if}}

                    {{#if (and @root.isOwner (or (not spell.isCharge) spell.isActiveCharge))}}
                    {{#if (eq spell.consumable.isEquipped false)}}
                    <a {{#if spell.expended}}class="disabled" {{else}}data-action="draw-item" data-item-id="{{spell.consumable.id}}" {{/if}}
                        data-tooltip="{{@root.i18n 'draw'}}">
                        <i class="fa-solid fa-hand-back-fist"></i>
                    </a>
                    {{else}}
                    <a {{#if spell.expended}}class="disabled" {{else}}data-action="cast-spell" {{/if}} data-tooltip="{{@root.i18n 'cast'}}">
                        <i class="fa-solid fa-play"></i>
                    </a>
                    {{/if}}
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}
{{/each}}
{{/if}}

{{#if rituals.length}}
<div class="entry" data-entry="rituals">
    <div class="header">{{localize 'PF2E.Actor.Creature.Spellcasting.Rituals'}}</div>
    {{#each rituals as |ritual|}}
    <div class="spell item-box" data-group-id="{{ritual.rank}}" data-cast-rank="{{ritual.rank}}" data-entry-id="rituals"
        data-item-id="{{ritual.itemId}}">
        <div class="item-img hover" data-action="spell-chat">
            <img src="{{ritual.img}}">
            {{#if @root.isOwner}}
            <i class="fa-solid fa-message"></i>
            {{/if}}
        </div>
        <div class="details">
            <a class="name" data-action="spell-description">{{ritual.name}}</a>
            <div class="extras">
                <div class="type">{{localize 'PF2E.LevelN' level=ritual.rank}}</div>
                <div class="actions">
                    <span>{{ritual.time}}</span>
                    {{#if @root.isOwner}}
                    <a data-action="cast-spell">
                        <i class="fa-solid fa-play"></i>
                    </a>
                    {{/if}}
                </div>
            </div>
        </div>
    </div>
    {{/each}}
</div>
{{/if}}