<div class="pf2e-token-hud variant">
    <p>
        <strong>{{i18n 'label'}}</strong>
        <select name="skill">
            {{selectOptions skills selected=skill valueAttr="slug" labelAttr="label"}}
        </select>
    </p>
    {{#if dc inclueZero=true}}
    <p>
        <strong>{{i18n 'dc'}}</strong>
        <input type="number" name="dc" value="{{dc}}" min="0">
    </p>
    {{/if}}
    {{#if (ne agile undefined)}}
    <p>
        <strong>{{i18n 'agile'}}</strong>
        <input type="checkbox" name="agile" {{checked agile}}>
    </p>
    {{/if}}
</div>