<div class="actions">
    {{#if toggles.length}}
    <div class="toggles">
        {{#each toggles as |toggle|}}
        {{#if (or (not toggle.scope) (eq toggle.scope "actions-tab"))}}
        <div class="toggle" data-item-id="{{toggle.itemId}}" data-domain="{{toggle.domain}}" data-option="{{toggle.option}}"
            data-scope="{{toggle.scope}}">
            <label>
                <input type="checkbox" data-action="toggle-roll-option" {{disabled (not toggle.enabled)}} {{checked toggle.checked}} />
                <div class="name {{#if (not (or toggle.checked toggle.enabled))}}unchecked-disabled{{/if}}">{{localize toggle.label}}</div>
            </label>
            {{#if toggle.suboptions}}
            <select data-action="set-suboption">
                {{#each toggle.suboptions as |suboption|}}
                <option value="{{suboption.value}}" {{#if suboption.selected}} selected{{/if}}>{{localize suboption.label}}</option>
                {{/each}}
            </select>
            {{/if}}
        </div>
        {{/if}}
        {{/each}}
    </div>
    {{/if}}

    {{#if strikes.length}}
    <div class="section">
        <div class="header"> {{localize "PF2E.StrikesLabel"}}</div>
        {{#each strikes as |strike|}}
        {{#if (ne strike.visible false)}}
        <div class="strike details" data-index="{{strike.index}}">
            <div class="name">{{strike.label}}</div>

            {{#if strike.ready}}
            <div class="variants">
                {{#each strike.variants as |variant|}}
                <div class="variant {{#if (eq strike.quantity 0)}}disabled{{/if}}" data-action="strike-attack" data-index="{{@index}}">
                    {{variant.label}}
                </div>
                {{/each}}
                {{#if strike.item.dealsDamage }}
                {{#unless @root.isCharacter}}
            </div>
            <div class="variants">
                {{/unless}}
                <div class="variant" data-action="strike-damage" title="{{strike.damageFormula}}">
                    {{#if @root.isCharacter}}
                    {{localize "PF2E.DamageLabel"}}
                    {{else}}
                    {{strike.damageFormula}}
                    {{/if}}
                </div>
                <div class="variant" data-action="strike-critical" title="{{strike.criticalFormula}}">
                    {{localize "PF2E.CriticalDamageLabel"}}
                </div>
                {{/if}}
            </div>
            {{/if}}

            {{#if (and @root.isCharacter strike.auxiliaryActions.length)}}
            <div class="variants">
                {{#if (and strike.ready strike.ammunition)}}
                <div class="variant">
                    <select class="ammos" data-action="strike-ammo">
                        {{#select strike.ammunition.selected.id}}
                        <option value="">{{localize "PF2E.NoAmmoLabel"}}</option>
                        {{#each strike.ammunition.compatible as |ammo|}}
                        <option value="{{ammo.id}}">{{ammo.name}} ({{ammo.quantity}})</option>
                        {{/each}}
                        {{/select}}
                    </select>
                </div>
                {{/if}}

                {{#each strike.auxiliaryActions as |action|}}
                <div class="variant" data-action="strike-auxiliary" data-index="{{@index}}">
                    <span class="activity-icon">{{action.glyph}}</span>
                    {{action.label}}
                    {{#if action.options}}
                    <select class="modular">
                        {{#each action.options as |option|}}
                        <option value="{{option.value}}" {{#if option.selected}} selected{{/if}}>
                            {{option.label}} {{#if option.selected}}&#x2714;{{/if}}
                        </option>
                        {{/each}}
                    </select>
                    {{/if}}
                </div>
                {{/each}}

                {{#if (and strike.versatileOptions.length strike.ready)}}
                <div class="versatiles">
                    {{#each strike.versatileOptions as |option|}}
                    <div class="variant {{#if option.selected}}selected{{/if}}" data-action="toggle-versatile" data-value="{{option.value}}"
                        title="{{localize (lookup @root.damageTypes [value])}}">
                        <i class="fa-solid fa-{{option.glyph}} fa-fw"></i>
                    </div>
                    {{/each}}
                </div>
                {{/if}}
            </div>
            {{/if}}
        </div>
        {{/if}}
        {{/each}}
    </div>
    {{/if}}

    {{#if sections.length}}
    {{#each sections as |section|}}
    <div class="section">
        <div class="header">{{localize section.label}}</div>
        {{#each section.actions as |action|}}
        <div class="action" data-item-id="{{action.id}}">
            <div class="icon"> <img src="{{action.img}}"></div>
            <a class="name" data-action="action-description">{{action.name}}</a>
            <a class="chat" data-action="action-chat"><i class="fa-solid fa-message"></i></a>
        </div>
        {{/each}}
    </div>
    {{/each}}
    {{/if}}
</div>