<div id="pf2e-token-hud" {{#unless isOwner}}class="observer" {{/unless}} data-token-id="{{tokenId}}" style="--font-size: {{fontSize}}px;">
    {{#if tokenId}}

    {{#if distance}}
    <div class="distance {{#if isObserver}}free{{/if}}">
        {{{distance.icon}}} <div class="range">{{distance.range}} {{distance.unit}}</div>
    </div>
    {{/if}}

    {{#if status}}
    <div class="status {{#if isObserver}}free{{/if}}" style="--hue: {{status.hue}};">
        {{status.value}}
    </div>
    {{/if}}

    {{#if isObserver}}
    <div class="inner {{type}}">
        <div class="header">{{name}}</div>
        <hr>
        {{> (lookup . 'type')}}
    </div>
    {{/if}}

    {{/if}}
</div>

{{#*inline "pips"}}
<div class="pips {{#if digits}}digits{{/if}}" data-action="{{action}}" data-tooltip="{{tooltip}}">
    {{#if digits}}
    <i class="fa-solid fa-angle-left {{#if (eq value 0)}}disabled{{/if}}"></i>
    {{value}}
    <i class="fa-solid fa-angle-right  {{#if (eq value max)}}disabled{{/if}}"></i>
    {{else}}
    {{#times max}}
    <i class="{{#if (gt ../value this)}}fas fa-dot-circle{{else}}far fa-circle{{/if}}"></i>
    {{/times}}
    {{/if}}
</div>
{{/inline}}

{{#*inline "info"}}
<div class="section info {{#unless content includeZero=true}}disabled{{/unless}} {{#if class}}{{class}}{{/if}}" data-action="show-info"
    {{#if content includeZero=true}}data-tooltip-content="{{content}}" {{/if}}>
    <i class="{{icon}}" data-tooltip="{{tooltip}}"></i>{{value}}
</div>
{{/inline}}

{{#*inline 'numbers'}}
<div class="numbers">
    {{#if @root.isOwner}}
    <input type="number" name="{{name}}" value="{{value}}" min="0" max="{{max}}">
    {{else}}
    <span>{{value}}</span>
    {{/if}}
    /
    <span>{{max}}</span>
</div>
{{/inline}}

{{#*inline "sidebar"}}
{{#if (or hasAny (not hide))}}
<a class="observable {{#unless hasAny}}disabled{{/unless}}" {{#if hasAny}} data-action="open-sidebar" data-type="{{type}}" {{/if}}>
    <i class="{{icon}}" data-tooltip="{{lookup sidebarTitles type}}"></i>
</a>
{{/if}}
{{/inline}}