<div id="pf2e-token-hud" {{#unless isOwner}}class="observer" {{/unless}} data-token-id="{{tokenId}}">
    {{#if tokenId}}

    {{#if distance}}
    <div class="distance {{#if isObserver}}free{{/if}}">
        {{{distance.icon}}} <div class="range">{{distance.range}} {{distance.unit}}</div>
    </div>
    {{/if}}

    {{#if status}}
    <div class="status {{#if isObserver}}free{{/if}}" style="--hue: {{status.hue}};">
        {{status.value}}
    </div>
    {{/if}}

    {{#if isObserver}}
    <div class="inner">
        <div class="header">{{name}}</div>

        <hr>

        <div class="group">
            {{#if isCharacter}}
            <div class="section">
                <i class="fa-solid fa-circle-h"></i>
                {{> pips max=hero.max value=hero.value action="toggle-hero"}}
            </div>
            {{/if}}

            <div class="section">
                {{{alignment.icon}}}
                {{alignment.value}}
            </div>

            <div class="section">
                <i class="fa-solid fa-user-graduate"></i>{{level}}
            </div>
        </div>

        {{#if hp.max}}
        <div class="group">
            <div class="section">
                <i class="fa-solid fa-heart-half-stroke"></i>
                {{#if isOwner}}
                <input type="number" name="system.attributes.hp.temp" value="{{hp.temp}}" min="0">
                {{else}}
                <span>{{hp.temp}}</span>
                {{/if}}
            </div>
            <div class="section">
                <i class="fa-solid fa-heart"></i>
                {{> numbers name="system.attributes.hp.value" value=hp.value max=hp.max}}
            </div>
        </div>
        {{/if}}

        {{#if sp.max}}
        <div class="group">
            <div class="section">
                <a data-action="use-resolve"><i class="fa-solid fa-circle-r"></i></a>
                {{> numbers name="system.attributes.resolve.value" value=resolve.value max=resolve.max}}
            </div>
            <div class="section">
                <i class="fa-solid fa-heart-pulse"></i>
                {{> numbers name="system.attributes.sp.value" value=sp.value max=sp.max}}
            </div>
        </div>
        {{/if}}

        <div class="group">
            <div class="section">
                <i class="fa-regular fa-helmet-battle"></i> {{ac}}
                <a data-action="take-cover">
                    {{#if hasCover}}
                    <i class="fa-solid fa-block-brick"></i>
                    {{!-- <i class="fa-solid fa-eye-slash"></i> --}}
                    {{else}}
                    <i class="fa-light fa-block-brick"></i>
                    {{!-- <i class="fa-duotone fa-eye-slash"></i> --}}
                    {{/if}}
                </a>
            </div>
            {{#if shield}}
            <div class="section">
                <a data-action="raise-shield">
                    {{#if shield.broken}}
                    <i class="fa-regular fa-shield-slash"></i>
                    {{else if shield.raised}}
                    <i class="fa-solid fa-shield"></i>
                    {{else}}
                    <i class="fa-regular fa-shield"></i>
                    {{/if}}
                </a>
                ({{shield.hardness}})
                {{> numbers name="shield.value" value=shield.hp.value max=shield.hp.max}}
            </div>
            {{/if}}
        </div>

        <div class="group">
            <div class="section">
                <a data-action="roll-save" data-save="fortitude"><i class="fa-solid fa-hand-fist"></i>+{{saves.fortitude}}</a>
            </div>
            <div class="section">
                <a data-action="roll-save" data-save="reflex"><i class="fa-solid fa-person-running"></i>+{{saves.reflex}}</a>
            </div>
            <div class="section">
                <a data-action="roll-save" data-save="will"><i class="fa-solid fa-brain"></i>+{{saves.will}}</a>
            </div>
        </div>

        {{#if showDeathLine}}
        <div class="group">
            <div class="section">
                <a data-action="recovery-check"><i class="fa-solid fa-skull"></i></a>
                {{> pips max=dying.max value=dying.value action="toggle-dying"}}
            </div>

            <div class="section">
                <i class="fa-solid fa-tombstone"></i>
                {{> pips max=wounded.max value=wounded.value action="toggle-wounded"}}
            </div>
        </div>
        {{/if}}

        <div class="group">
            {{> info tooltip=speeds.others icon=speeds.main.icon value=speeds.main.value class='speeds'}}
            {{> info tooltip=languages icon='fa-solid fa-language'}}
            {{> info tooltip=senses icon='fa-solid fa-signal-stream'}}
            {{> info tooltip=iwr icon='fa-solid fa-solid fa-ankh'}}
        </div>

        <hr>

        <div class="footer observable">
            <a class="observable" data-type="actions"><i class="fa-solid fa-sword"></i></a>
            <a class="observable {{#unless hasItems}}disabled{{/unless}}" {{#if hasItems}}data-type="items" {{/if}}>
                <i class="fa-solid fa-backpack"></i>
            </a>
            <a class="observable {{#unless hasSpells}}disabled{{/unless}}" {{#if hasSpells}} data-type="spells" {{/if}}>
                <i class="fa-solid fa-wand-magic-sparkles"></i>
            </a>
            <a class="observable" data-type="skills"><i class="fa-solid fa-hand"></i></a>
            <a class="observable" data-type="extras"><i class="fa-solid fa-gears"></i></a>
        </div>
    </div>
    {{/if}}

    {{/if}}
</div>

{{#*inline "pips"}}
<div class="pips" data-action="{{action}}">
    {{#times max}}
    <i class="{{#if (gt ../value this)}}fas fa-dot-circle{{else}}far fa-circle{{/if}}"></i>
    {{/times}}
</div>
{{/inline}}

{{#*inline "info"}}
<div class="section info {{#unless tooltip includeZero=true}}disabled{{/unless}} {{#if class}}{{class}}{{/if}}" data-action="show-info"
    {{#if tooltip includeZero=true}} title="<div class='hover-content info'><ul>{{tooltip}}</ul></div>" {{/if}}>
    <i class="{{icon}}"></i>{{value}}
</div>
{{/inline}}

{{#*inline 'numbers'}}
<div class="numbers">
    {{#if @root.isOwner}}
    <input type="number" name="{{name}}" value="{{value}}" min="0" max="{{max}}">
    {{else}}
    <span>{{value}}</span>
    {{/if}}
    /
    <span>{{max}}</span>
</div>
{{/inline}}