<div id="pf2e-token-hud" {{#unless isOwner}}class="observer" {{/unless}} data-token-id="{{tokenId}}" style="--font-size: {{fontSize}}px;">
    {{#if tokenId}}

    {{#if distance}}
    <div class="distance {{#if isObserver}}free{{/if}}">
        {{{distance.icon}}} <div class="range">{{distance.range}} {{distance.unit}}</div>
    </div>
    {{/if}}

    {{#if status}}
    <div class="status {{#if isObserver}}free{{/if}}" style="--hue: {{status.hue}};">
        {{status.value}}
    </div>
    {{/if}}

    {{#if isObserver}}
    <div class="inner">
        <div class="header">{{name}}</div>
        <hr>
        {{> (lookup . 'type')}}
    </div>
    {{/if}}

    {{/if}}
</div>

{{#*inline "pips"}}
<div class="pips" data-action="{{action}}" data-tooltip="{{tooltip}}">
    {{#times max}}
    <i class="{{#if (gt ../value this)}}fas fa-dot-circle{{else}}far fa-circle{{/if}}"></i>
    {{/times}}
</div>
{{/inline}}

{{#*inline "info"}}
<div class="section info {{#unless content includeZero=true}}disabled{{/unless}} {{#if class}}{{class}}{{/if}}" data-action="show-info"
    {{#if content includeZero=true}} title="<div class='hover-content info'><ul>{{content}}</ul></div>" {{/if}}>
    <i class="{{icon}}" data-tooltip="{{tooltip}}"></i>{{value}}
</div>
{{/inline}}

{{#*inline 'numbers'}}
<div class="numbers">
    {{#if @root.isOwner}}
    <input type="number" name="{{name}}" value="{{value}}" min="0" max="{{max}}">
    {{else}}
    <span>{{value}}</span>
    {{/if}}
    /
    <span>{{max}}</span>
</div>
{{/inline}}