<div class="skills">
    {{#each skills as |skill|}}
    <div class="skill">
        <div class="header">
            <div>
                <a class="modifier" data-action="roll-skill" data-slug="{{skill.slug}}">{{skill.modifier}}</a>
                {{localize skill.label}}
            </div>
            {{#if skill.rank includeZero=true}}
            <div class="rank {{skill.rank}}">{{localize (concat 'PF2E.ProficiencyLevel' skill.rank)}}</div>
            {{/if}}
        </div>
        {{#each actions as |action|}}
        <div class="action" data-slug="{{action.slug}}" data-skill-slug="{{skill.slug}}" data-uuid="{{action.uuid}}">
            <div class="name">
                {{#if action.variants}}
                <span>{{localize action.label}} {{{actionGlyph action.cost}}}</span>
                {{else}}
                <a data-action="roll-action">
                    {{localize action.label}} {{{actionGlyph action.cost}}}
                </a>
                {{/if}}
                <div class="end">
                    {{#if action.trained}}
                    <div class="trained">(T)</div>
                    {{/if}}
                    {{#if action.uuid}}
                    <a data-action="action-description"><i class="fa-regular fa-circle-question"></i></a>
                    <a class="chat" data-action="action-chat"><i class="fa-solid fa-message"></i></a>
                    {{/if}}
                </div>
            </div>
            {{#if action.variants}}
            <div class="variants">
                {{#each action.variants as |variant|}}
                <div class="variant" data-action="roll-action" data-variant="{{variant.slug}}" data-map="{{variant.map}}">
                    {{localize variant.label penalty=variant.map}}
                </div>
                {{/each}}
            </div>
            {{/if}}
        </div>
        {{/each}}
    </div>
    {{/each}}
    {{#if lores.length}}
    <div class="lores">
        <div class="header">{{localize 'PF2E.LoreSkillsHeader'}}</div>
        {{#each lores as |lore|}}
        <div class="lore">
            <div>
                <a class="modifier" data-action="roll-skill" data-slug="{{lore.slug}}">{{lore.modifier}}</a>
                {{localize lore.label}}
            </div>
            <div class="rank {{lore.rank}}">{{localize (concat 'PF2E.ProficiencyLevel' lore.rank)}}</div>
        </div>
        {{/each}}
    </div>
    {{/if}}
</div>